BasedOnStyle: Google
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 100
IncludeCategories:
  - Regex: '^"(pedigree|native)/.*'
    Priority: 0
  - Regex: '<[[:alnum:].]+>'
    Priority: 1
  - Regex: '.*'
    Priority: 2
