*.iso
*.ncb
*.obj
*.orig.tar.bz2
*.pyc
*.sln
*.sublime-workspace
*.suo
*.swp
*.vcproj*
*.po~
.autogen.cache
.cache/
.DS_Store
.easy_os
.tags
build/
build-arm/
build-host-linux/
build-host/
build-hosted/
build-hosted-linux/
build-hosted-modules/
build-hosted-modules-linux/
build-hosted-smoke/
build-hosted-smoke-linux/
build-*-check-linux/
build-*-asan-linux/
build-*-asan-modules-linux/
build-verify/
/Testing/
build_cache
compilers*
compilers/dir
Debug
docs/doxygen/*
images/local*
images/local/*
images/x86/games/dos
pedigree-compiler
physical.bin
Release
scripts/*.pyc
scripts/pup.whl
scripts/pup/pup.conf
serial[0-9]*.log
src/modules/subsys/posix/include/c++/
src/system/kernel/TAGS
src/system/kernel/Version.cc
tmp
coverage/
.pup-version
venv
