sudo: false
language: cpp
compiler: g++
matrix:
  include:
  # - os: linux
  # - env: OS=ubuntu EASY_BUILD=x64
  #- os: linux
  #  env: OS=ubuntu EASY_BUILD=arm
  # - os: linux
  #   env: OS=ubuntu EASY_BUILD=hosted
  # - os: linux
  #   env: OS=ubuntu EASY_BUILD=tests
  # - os: osx
  #   env: OS=osx EASY_BUILD=x64
  - os: linux
    env: OS=ubuntu EASY_BUILD=docs
  exclude:
    - os: linux
    - compiler: g++
script:
  - ./easy_build_$EASY_BUILD.sh nosudo $OS
  - if [[ "$EASY_BUILD" == "tests" ]]; then ./tests/testsuite.sh; fi
  - if [[ "$EASY_BUILD" != "tests" ]]; then ./scripts/runtest.py; fi
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install qemu; fi
  - if [[ "$EASY_BUILD" == "tests" ]]; then pip install --user codecov gcovr; fi
after_success:
  - if [[ "$EASY_BUILD" == "tests" ]]; then cd build-host; codecov; fi
install: true
notifications:
  email: false
  irc:
    channels:
    - chat.freenode.net#pedigree-commits
    template:
    - ! '%{repository}/%{branch} (%{commit} - %{author}): %{message}'
    - ! 'Build details: %{build_url}'
    on_success: change
    on_failure: always
  slack:
    secure: T9GJHictl8hUOgGh5RRVmRMExqlWJByssoSYdgnFuHA8ugLXyvHyYaVjLPVcFE9yv7w+sQgki0ZIzCyUH/Hg6/UPwRaH8W4Cm57vQwhE+TUvfy6eRRvYT118X/9X3xkYwhNUks+uydP6oI9YTnvr1XrzB6L4htA7Ma/YKBDhLhg=
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libmpfr-dev
      - libmpc-dev
      - libgmp3-dev
      - sqlite3
      - texinfo
      - scons
      - xorriso
      - e2fsprogs
      - qemu
      - nasm
      - u-boot-tools
      - valgrind
      - python-requests
      - g++-6
      - libstdc++-6-dev
      - lcov
      - doxygen
      - doxygen-doc
      - doxygen-latex
      - doxygen-gui
      - graphviz
cache:
  directories:
  - $HOME/.ccache
  - $HOME/pedigree-compiler
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: $TRAVIS_BUILD_DIR/docs/doxygen/html
  github_token: $GH_REPO_TOKEN
  on:
    condition: $EASY_BUILD = docs
    # branch: develop
    all_branches: true

